
<body class="body-font">
    
    <div class="container">
    <div class="box">
            <img src="assets/img/pharmacyimage.jpg" class = "disp-img">
    </div>
    
     <div class="box stack-top" style="background: white;">
        
    <div class="text-align-center">
    <h1 class="background-teal"> WELCOME TO CUREWELL DRUG STORE </h1>
    </div>
    <div class="text-align-center-and-justify">
        
        <p>
                Cure Well Drug Store began its venture in the year 2018 located at NIBM Road, Pune, Maharashtra, India, to play a pioneering role in the
                development of pharmaceutical and healthcare services. Cure Well Drug Store is built on years of experience in retailing of pharmaceutical
                and healthcare products at the best prices and having expert of pharmacists who offer professional advice to customers along the proper
                intake of medicines, diet and supportive therapies in a rejuvenating ambiance. With this, Cure Well Drug Store has accomplished on being a
                one-stop-shop for all healthcare-related products.
        </p>
        <p>
                Buoyant by the trust expressed by thousands of satisfied customers on the professional services rendered by our well informed and eager to
                serve pharmacists, the group is envisaging to operate a retail chain of pharmacies promoting the brand Cure Well Drug Store all over the
                years shortly. In the coming months Pharmacy Services shall be operational in the major cities of United Kingdom also.
                We are eager to serve you as a one-stop solution for all your queries on medicines & allied products both in terms of availability and
                counseling.
        </p>
    </div>
    </div>
</div>
</body>