<body class="page-font-family">


        <div class="container">
                <div class="box">
                        <img src="assets/img/pharmacyimage.jpg" class = "disp-img">
                </div>
                
        
        <div class="box stack-top top-margin" style="background: white;">
        
                <div class="text-align-center">
                        <h1 class="background-teal"> ABOUT US </h1>
                </div>

                <div class="top-margin">

                    <div class="box-content-margin">
                        <h3 style="margin-left:20px"><b>Vision</b></h3>
                         <p style="text-align: justify">Our motto since our inception has been to serve every individual of every community with utmost care and dedication. Holding back the
                            motto in our psyche, Cure Well Drug Store has regularly coordinated and organized plenty of medical camps for the blue-collar job
                            workers and helped to serve the society on a broader scale. We are proud to have dwelled up to our slogan “The vision of wellness,
                            through relationship and care you can trust”.
                            
                            
                    </p>
                        <h3 style="margin-left: 20px"><b>Mission</b></h3>
                    <p style="text-align: justify">
                            Our mission is to incite and help customers to lead a healthy life without being totally dependent on medicines, which we strive to
                            achieve by educating them and giving professional advice on all aspects of medicines.
        
                    </p>
                </div>
                </div>
            
        
        
                    
        
            
        </div>
        </div>
        </body>
        <router-outlet></router-outlet>

