
<div class="body-font">
<div class = "top-bar">
        
    <div class = "container-fluid">
        <div class = "row">
            <div class="col-lg-6 top-bar-bg-color "><h2 class="mb-0"><img src="assets/img/plus.png" class = "top-bar-img">  Cure Well Drug Store </h2> </div>
            <div class="col-lg-6 pt-1 top-bar-bg-color"> <h4><img src="assets/img/phone.png" class = "top-bar-img-contact"> +917447498094   <img src="assets/img/email.png" class = "top-bar-img-contact"> curewelldrugstore@gmail.com  </h4></div>
        </div>
    </div>
    
</div>

<div class="text-align-right">
     <nav class="navbar navbar-brand bg-light mr-auto">
            <span class="p-3 m-3"> <a routerLink="/home" routerLinkActive="active"> Home  </a> </span>        
        <span class="p-3 m-3"> <a routerLink="/aboutus" routerLinkActive="active"> About Us </a> </span> 
        <span class="p-3 m-3"> <a routerLink="/services" routerLinkActive="active"> Services </a> </span> 
        <span class="p-3 m-3"> <a routerLink="/contact" routerLinkActive="active"> Contact </a> </span>  
      </nav>
</div>
</div>


<router-outlet></router-outlet>